= link_to 'Ask question', new_question_path, class: 'btn btn-success'
%br/
%br/
#questions
  - @questions.each do |q|
    .row
      .col-1.small
        Rating:
        = q.rating
      .col-11
        = link_to q.title, question_path(q)
    %hr
