= form_with(model:  @comment , url: add_comment_question_path, class: 'new-question-comment', data: {type: :json}) do |form|
  .input-group.input-group-sm.mb-3
    = form.text_field :body, class: 'form-control', id: "new_question_comment"
    = form.submit 'Commit', class: "actions btn  btn-sm btn-primary"
