.row
  .col-11
    = answer.body
  .col-1.ml_auto
    = link_to 'Delete', question_answer_path(answer.question, answer), method: :delete,
     id: "delete_answer_#{answer.id}" if current_user && owner?(@question)
