%h1 Hello! It`s a daily digest from Stackoverflow
%p Here are the latest questions from the last 24 hours

%p
  %ul
    - @questions.each do |question|
      %li
        = link_to "#{question.title}", question_url(question)
        Автор:
        = question.user.email
