<div class='row'>
  <div class='col-1 small border-right'>
    Rating: 0
  </div>
  <div class='col-9'>
    <a title='{{question.title}}' href='/questions/{{question.id}}'>{{question.title}}</a>
  </div>
  <div class='col-2 border-left small'>
    <div class='font-weight-bold'>
      {{author}}
    </div>
    <span>
      1 minute ago
    </span>
  </div>
</div>
<hr/>
